[submodule "frontend"]
	path = frontend
	url = https://github.com/Open-LLM-VTuber/Open-LLM-VTuber-Web
	branch = build
[submodule "Open-LLM-VTuber-Web"]
	path = Open-LLM-VTuber-Web
	url = https://github.com/Open-LLM-VTuber/Open-LLM-VTuber-Web.git
	branch = main
